:root 
{
  --bg-color: rgb(107,122,101);
  --heading1: rgb(94,57,31);
  --hover: rgb(185, 202, 179);
}

body
{
  background-color: var(--bg-color);
}

h1
{
  font-family: courier;
  text-align: center;
  font-size: 35pt;
  font-weight: bold;
  text-decoration: underline;
  color: var(--heading1);
}

p
{
  font-family: noto;
  font-size: 16pt;
}

nav ul {
   list-style-type: none;
   color: black;
   font-size: 25pt;
   padding: 10px 0;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;  
    padding: 10px 20px;
}

nav li a:hover {
    color: white;
    background-color: var(--hover);    
}


