body
{
  background-color: rgb(107,122,101);
}

h1
{
  font-family: courier;
  text-align: center;
  font-size: 35pt;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(94,57,1);
}

p
{
  font-family: noto;
  font-size: 16pt;
}

nav ul {
   list-style-type: none;
   padding: 10px 0;
}

nav li {
   display: inline;
}

nav li a {
   text-decoration: none;  
   padding: 10px 20px;
}

nav li a:hover {
   color: white;
   background-color: var(--accent-color);    
}


