body
{
  background-color: rgb(107,122,101);
}

h1
{
  font-family: courier;
  text-align: center;
  font-size: 35pt;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(94,57,1);
}

p
{
  font-family: noto;
  font-size: 16pt;
}


